header {
	background-color: #2a2334;

	.links {
		display: flex;
		width: 100%;
		justify-content: center;
		gap: 60px;

		li {
			font-size: 22px;
			position: relative;

			transition: color 0.3s ease;

			&::after {
				content: "";
				display: block;
				width: 0;
				height: 3px;
				background-color: #fff;

				transition: width 0.3s ease, background-color 0.3s ease;
				position: absolute;
				bottom: -5px;
				left: -5px;
			}

			&:hover {
				color: #dfaf02;
			}

			&:hover::after {
				width: 120%;
				background-color: #dfaf02;
			}
		}
	}
}
