<main>
	<app-container>
		<h1>Interview Master</h1>
		<section class="main-section">
			@for (type of modalTypes; track type.type) {
			<button
				class="open-modal-btn"
				[ngClass]="{
					red: type.color === 'red',
					blue: type.color === 'blue'
				}"
				(click)="openModal(type.type)"
			>
				Open {{ type.type }} modal
			</button>
			@if(type.type === currentType) {
			<app-modal
				[type]="currentType"
				(closeModal)="currentType = undefined"
			></app-modal>
			}}
		</section>
	</app-container>
</main>
